<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MVC.Properties.Settings.ConnectionStringORA" connectionString="DATA SOURCE=localhost:1521/orcl;TNS_ADMIN=C:\Users\elmer\Oracle\network\admin;PASSWORD=poison;PERSIST SECURITY INFO=True;USER ID=ELMER"
            providerName="Oracle.ManagedDataAccess.Client" />
		<add name="MVC.Properties.Settings.ConnectionStringMSSQL"
				connectionString="Data Source=(local);Initial Catalog=Facturacion;Persist Security Info=True;User ID=sa;Password=poison"
				providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>